:root{
  --base-dark: #0C0C0C;
  --light: #ffffff;
  --gold: #F5C55F;
  --gold2: #ffd700;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body{
  padding: 0;
  margin: 0;
  background-color: var(--base-dark);
  color: var(--light)
}
.gold_text{
  color: var(--gold);
  display: inline !important;
}